<server description="PedidoVenda Server">
    <featureManager>
        <feature>jakartaee-10.0</feature>
        <feature>faces-4.0</feature>

        <feature>jdbc-4.3</feature>
        <feature>microProfile-6.0</feature>
        <feature>jpa-3.1</feature>
        <feature>cdi-4.0</feature>
    </featureManager>

    <!-- DataSource (ex: MySQL) -->
    <dataSource id="pedidoVendaDS" jndiName="jdbc/pedidoVendaDS">
        <jdbcDriver libraryRef="MySQLLib"/>
        <properties databaseName="pedidovenda"
                    serverName="localhost"
                    portNumber="3306"
                    user="app_user"
                    password="app_password"/>
    </dataSource>
    <library id="MySQLLib">
        <file>${shared.resource.dir}/mysql-connector-java-8.0.33.jar</file>
    </library>

    <!-- Aplicação -->
    <webApplication location="PedidoVenda.war" contextRoot="/pedido"/>
</server>